.jmc-follow {
	div {
		text-align: center;
	}

	&-button {
	height: 60px;
	width: 60px;
	line-height: 40px;
	padding: 0;
	background: #519cd6;
	transition: background 300ms ease-in-out;
		&:hover {
			background: #135d83;
		}
		&.md-fab:not([disabled]).md-focused {
			background: #135d83;
		}

		md-icon {
			color: white;
			font-size: 40px;
		}
	}

	&-icon {
		width: 56px;
		height: 56px;

		& svg {
			fill: white;
		}
	}
}